<form id="signup-form" name="signupForm" ng-submit="signupForm.$valid && sendSignup(signup)">
    <h3>Create a new account:</h3>
    <alert type="danger" ng-show="error">
        {{ error }}
    </alert>
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" ng-model="signup.name" class="form-control" id="name" placeholder="Your name">
    </div>
    <div class="form-group">
        <label for="email">Email address</label>
        <input type="text" ng-model="login.email" class="form-control" id="email" placeholder="Your email">
    </div>
    <div class="form-group">
        <label for="phone">Phone number</label>
        <input type="text" ng-model="login.phone" class="form-control" id="phone" placeholder="Your phone">
    </div>
    <div class="form-group">
        <label for="address">Street Address</label>
        <input type="text" ng-model="login.address" class="form-control" id="address" placeholder="Your address">
    </div>
    <div class="form-group">
        <label for="college">College</label>
        <select type="text" ng-model="login.college" class="form-control" id="college" placeholder="Your college"><option ng-repeat="college in colleges">{{college.name}}</option></select>
    </div>
    <div class="form-group">
        <label for="signup-password">Password</label>
        <input type="password" ng-model="signup.password" class="form-control" id="signup-password" placeholder="Password">
        <input type="password" ng-model="signup.confirmPassword" class="form-control" id="signup-password" placeholder="Confirm Password">
    </div>
    <button type="submit" class="btn btn-default">Sign up</button>
    <div>
        Already have an account? <button class="btn btn-default" ui-sref="login">Login</button>
    </div>
</form>

