<div class="col-lg-7">
	<div class="panel panel-default">
		<div class="panel-heading">
			<div class="row">
  			<p class="alignleft allpadding">My Cart ({{cartItems.length}})</p>
  			<p class="alignright allpadding">{{totalValue(cartItems) | currency}}</p>
  			</div>
  		</div>
	    <div class="panel-body" ng-repeat="item in cartItems">
	      <div>
	        <img src="{{item.imageUrl}}" class="task-img">
	        <br>
	        <div class="col-lg-8 task-description">
	        	<span>{{item.name}}</span><br>
	        	<span>{{item.price | currency}}</span>
	        </div>
	        <div class="col-lg-2 right-padding" align="right">
	        	<button ng-click="removeFromCart(item)" type="button" class="btn btn-danger btn-sm">Remove item</button>
	        </div>
	      </div>
	    </div>
	    <span ng-show="cartItems.length === 0">You have no items in your cart</span>
	</div>
</div>
