<div class="col-lg-12">
  <h3>Purchase History</h3>
    <table>
      <div ng-repeat="order in purchaseHistory | orderBy: '-dateProcessed'">
		<div class="panel panel-default">
		  	<div class="panel-heading">
		  		<div class="row">
		  			<span class="left-padding"> 
		  			<b>Checkout Date</b>: {{order.dateProcessed | date: format: 'MMM dd, yyyy' }}    
		  			<b>Order Total</b>: {{totalValue(order.tasks) | currency}}</span>
		  		</div>
			</div>

		  	<div class="panel-body">
		  		<div ng-repeat="task in order.tasks" class="clearfix">
			  		<div class="col-lg-2">
			  			<img src="{{task.imageUrl}}" class="task-img">
			  		</div>
			  		<div class="col-lg-10">
			  			<div>{{task.name}}</div>
			  			<div>{{task.price | currency}}</div>
			  			<div>Sold By: <a ui-sref="publicProfile({personId: task.seller._id})"> {{task.seller.name}}</a></div>
			  		</div>
			  	</div>	
		 	</div>
     	</div>
      	<span ng-show="purchaseHistory.length === 0">You have no past orders</span>
    </table>
</div>

