<div class="container">

  <div class="panel panel-default">
    <div class="panel-heading">Refine your search</div>
    <div class="panel-body">
      <label>Search: <input ng-model="searchTask"></label>
      <strong>Category:</strong>

      <span ng-repeat="category in categories">
        <button ng-click="filters.category = category">{{ category }}</button>
      </span>
    </div>
  </div>

  <div class="panel-body row">
    <task-item ng-repeat="task in forsale | filter:searchTask | filter:filters" class="col-lg-6 container">
    </task-item>
  </div>

</div>
