<div class="container">
  <h1>{{user.name}}'s U-hive profile</h1>

  <div class="row">
    <div class="col-lg-3">
      <img src="{{user.photo}}" class="img-thumbnail">
    </div> 

    <div class="col-lg-9">
      <ul>
        <li>School: {{user.college.name}}</li>
        <li ng-show="reviews.length>0">Average Rating: {{avgRating}}</li>
        <li>Email: {{user.email}}</li>
        <li>Phone: {{user.phone}}</li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <h3>Items For Sale</h3>
        <table>
          <div ng-repeat="task in tasks" class="col-lg-4 task-list container task-profileview">
            <img src="{{task.imageUrl}}" class="task-img">
            <br>
            <span>{{task.name}}</span>
          </div>
          <span ng-show="tasks.length === 0">User has no items for sale</span>
        </table>  
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <h3>Reviews</h3>
      <span ng-show="reviews.length === 0">User has not been reviewed yet</span>
      <table class='table' ng-show="reviews.length > 0">
        <thead>
          <tr>
            <th>Feedback</th>
            <th>From</th>
            <th>When</th>
            <th>Rating</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="review in reviews">
              <td>{{ review.text }}</td>
              <td>{{ review.reviewer.name }}</td>
              <td>{{ review.reviewDate }}</td>
              <td>{{ review.rating }}</td>
            </div>
          </tr>
        </tbody>
      </table>
     </div> 
  </div>


</div>