* {
  box-sizing: border-box;
}

body {
  background: #fdfdfd;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

#main {
  padding-top: 60px;
  margin: 0 auto;
}

.task-list {
  border-style: solid;
  border-width: 1px;
  border-color: gray;
  border-radius: 4px;
  margin: 3px;
}

.task-img {
  width: 100%;
  padding: 5px
}

.task-profileview {
  border: none
}


@import 'directives/main';
@import 'home/main';
@import 'about/main';
@import 'tutorial/main';
@import 'login/main';
