* {
  box-sizing: border-box;
}

body {
  background: #fdfdfd;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

#main {
  padding-top: 60px;
  margin: 0 auto;
}

.task-list {
  border-style: solid;
  border-width: 1px;
  border-color: gray;
  border-radius: 4px;
  padding-bottom: 5px;
  margin: 3px;
}

.task-img {
  width: 100%;
  padding: 5px
}

.task-profileview {
  border: none
}

.task-description {
  padding: 5px;
}

.right-padding {
  padding-right: 5px;
}

.left-padding {
  padding-left: 5px;
}

.allpadding {
  padding: 5px
}

.alignleft {
  float: left;
}
.alignright {
  float: right;
}

@import 'directives/main';
@import 'home/main';
@import 'about/main';
@import 'tutorial/main';
@import 'login/main';
@import 'signup/main';
